/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body {
	font-weight: bold;
	font-style:century, monospace;
	font-size: 16px;
    background-color: #eeeeee;
	color: #680000;
}

/*styling for the page title*/
h2 {
	font-style:normal;
	font-weight:bold;
	text-align:left;
	color: #680000;
}
h1 {
	font-style: oblique;
	font-size: 28px;
    text-align: center;
    background-color: #996600;
	color: #f8f8f8;
}

/*styling for the overall table*/
table {
    background-color: #F8F8F8;
	border: solid 2px #787878;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
}

/*styling for the coffee types*/
label {
    font-weight: bold;
}
input {
	align-items: right;
	border-radius: 12px;
	padding: 5px;
}

/*styling for the tables*/
.altrow {
	background-color: #E0E0E0;
}

/*styling for the Google Map link*/
#locationlink {
	color: #380000;
	font-style:italic;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
	font-size: 12px;
	text-align: center;
}
/*styling the submit button*/
button {
	background-color: red;
	color:lightgoldenrodyellow;
}

