body
{
	font-family:"Lucida Console", "Courier New", monospace;
	color: #700000 ;
	background-color: #e2e469;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #700000;
	font-weight: bolder;
}

h1, h2, h3
{
	color: #700000;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:rgb(2, 83, 104);
}

a:hover
{
	text-decoration: overline underline;
}


figure
{
	text-align: center;
  
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

thead , tfoot
{
	background-color: yellow;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}
.brown{
	background-color: #694A38;
	font-weight: bolder;
	vertical-align: top;

}

tbody tr:nth-child(odd) 
{
	background-color: rgb(234, 240, 214);
}


