.container {
    background-color: silver;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.navbar {

    height: 10%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
}
nav {
    flex: 1;
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    
}
nav ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-family:monospace;
    font-weight: bold;
}
a {
    text-decoration: none;
    text-transform: none;
    
}
a:hover {
    color:rgb(92, 92, 63);
}
a img {
    width:auto;
    height: auto;
    
}
h3 {
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    
}
h1 {
    font-size: 50px;
    text-decoration: none;
    font-family: monospace;
    color:rgb(92, 92, 63);
}
#comment {
    height: 60px;
    
}
#contact {
    font-size: 20px;
    text-align: center;
}
#home-description {
    font-size: 20px;
    text-align: center;
}
#home-title {
    font-size: 20px;
    text-align: center;
}
#sell-description{
    font-size: 15px;
    font-weight: bold;
    text-align:center;
}
p{
    font-family:monospace;
    
}

input {
    border-radius:12px;
    font-size: 15px;
    padding:12px 28px;
    font-family: monospace;
}
label {
    font-size: 20px;
    font-family:monospace;
}
button {
    border-radius: 12px;
    padding: 14px 40px;
    font-family: monospace;
    
}
button:hover {
    cursor: pointer;
    background-color: rgb(92, 92, 63);
    color: white;
    transition:0.4s;
}
.sell-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
}
.home-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
body {
    background-color: white;
    text-align: center;
}
form {
    text-align: center;
}
button[id="quote"] {
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
table {
    width: 70%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    border: none;
}
footer {
    padding: 10px;
    background: silver;
    color: black;
    font-size: 15px;
}
footer p {
    text-align: center;
}

table img {
    width: 70%;
    display: block;
    border-radius: 8px;
    

}
table img:hover {
    cursor: pointer;
    position: relative;
    width: 160px;
    height:50%;
    display: block;
    
}
table thead {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
td {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#bxslider {
    font-family:'Courier New', Courier, monospace;
	width: 540px;
	margin: 0 auto;
    padding: 20px;
}

#id_pager {
	text-align: center;
	font-size: 90%;
	color:rgb(92, 92, 63);
    font-size: 1pc;
}
.bx-wrapper {
	margin-bottom: 20px;
}




